* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(252, 246, 246);
    background-image: url(../../img/fondonegro.jpg);
    padding-bottom: 15px;
    background-repeat: repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.carousel {
    border-bottom: 5px solid rgb(17, 17, 17, 0.7);
}
.navbar {
    width: 100%;
    font-size: 1.2em;
    padding: 1% 0;
}
.nav-link:hover {
    transition: all 0.1s;
    text-decoration: solid;
    text-shadow: grey;
    font-weight: bold ;
}
@keyframes loguito {
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(600px);
    }
    25% {
        transform: translateX(150px);
    }
    50% {
        transform: translateX(750px);
    }

    75% { 
        transform: translateX(150px);
    }

    100% {
        transform: translateX(0);
    }
}

.d-inline-block {
    animation-name: loguito;
    animation-duration: 7s;
}

.qs-container {
    display: flex;
    background-color: rgb(112, 101, 88, 0.8);
    width: 90%;
    height: auto;
    border: 2px solid black;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    padding: 15px;
    margin: 95px auto;
    border-radius: 6px;
    box-shadow: 5px 8px 5px rgb(0, 0, 0);
}
.img {
    width: 95px;
    height: 95px;
    margin-left: 35px;
    display: flex;
    animation-name: img;
    animation-duration: 8s;
    
}

@keyframes img {
    0% {
        transform: translateX(0);
    }
    5% {
        transform: translateX(150px);
    }
    90% {
        transform: translateX(0px);
    }
}
.qs-container .titulo {
    padding: 5px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 10px;
}
.qs-container .quienes-somos {
    margin: 10px 5px;
    padding: 15px;
    width: 25%;
    border: 5px solid rgb(238, 209, 156, 0.10);
    border-radius: 15px;
    background-color: rgb(112, 108, 88);
    flex: 1 0 5px;
    justify-content: space-between;
    align-items: center;
   
}

.qs-container .contenido {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 20px;
}
.quienes-somos:hover {
    transition: all 1s;
    background-color: rgba(214, 200, 11, 0.8);
    transform: scale3d(1.1,1.1,2);
    @keyframes img {
        0% {
            transform: translateX(0);
        }
        5% {
            transform: translateX(150px);
        }
        90% {
            transform: translateX(0px);
        }
    }
}

.quienes-somos:hover h1{
    transition: all 1s;
    transform: scale(1.2);
}

.titulo{
    text-align: center;
    padding: 10px;
    margin-top: 2%;
    text-shadow: slategrey;
    font-size: 2em;
}
.servicios {
    background-color: rgb(184, 184, 152, 0.85);
    font-weight: bold;
}
.servicios:hover{
    background-color: goldenrod;
    color: rgb(0, 0, 126);
    transition: ease-out 0.8s;
    border: 2px rgb(30, 27, 78) solid;
    border-radius: 20px;
    
}


.servicios-container {
    display: flex;
    margin: 70px auto;
    color: rgb(30, 27, 78);
    background-color: rgb(184, 184, 152, 0.8);
    
    border: 2px rgb(30, 27, 78) solid;
    border-radius: 10px;
    padding: 20px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 96%;
    height: auto;
}

.servicios-container:hover .box{
    transition: all 2s;
    transform: scale(1.03);
}


.box {
    height: 250px;
    margin: 10px;
    width: 40%;
    background-color: rgba(248, 206, 142, 0.733);
    border: 1px gray solid;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
   
}

.titleBox {
    font-size: 1.8em;
    font-family: monospace;
    text-align: center;
    padding: 8px 0;
}

.imgservicio {
    width: 70px;
    float: left;
    margin-right: 20px;
}

.imgselec {
    width: 70px;
    float: left;
    margin-right: 20px;
}

.imgpsico {
    width: 70px;
    float: left;
    margin-right: 20px;
}

.imgats {
    width: 83px;
    float: left;
    margin-right: 10px;
}

.softimg {
    width: 70px;
    float: left;
    margin-right: 20px;
}
.contacto{
    background-color: rgba(157, 157, 168, 0.86);
    font-weight: bold;
} 

.contacto:hover{
    background-color:  rgb(247, 231, 179);
    color: rgb(18, 18, 53);
    transition: ease-out 1s;
    border: 2px rgb(194, 110, 0) solid;
    border-radius: 20px;
}
.contactanos {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.client-form-header{
    text-align: center;
    border-radius: 3px;
    background-color:  rgb(247, 231, 179, .85);
    border: 1px solid rgb(109, 181, 184);
    width: 80%;
    margin: 40px 0 40px 150px;
    padding: 0px;
}

.contact-form{
    background-color:rgb(156, 156, 180, .8);
    border: 1px solid #4c4a53;
    border-radius: 3px;
    width: 100%;
    padding: 50px;
    width: 80%;
    margin: 40px 0 40px 150px;
}

.form-row{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-row input [type='text'],
.form-row input [type='email'] {
    background-color: #fff;
    border: 1px solid #3f4041;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}
.form-row label{
    margin: 15px 10px;
}

.legacy-form-row{
    border: none;
    margin-bottom: 40px;
}

.legacy-form-row legend{
    margin-bottom: 15px;
}

.form-row input [type='radio'] {
    margin-top: 2px;
}
.form-row select{
    width: 100%;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
}

.form-row button{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #da8859;
    border: none;
    cursor: pointer;
    width: 90px;
    padding: 15px;
    margin-top: 25px;
}

.form-row button:hover{
    background-color: #571804;
    transform: scale(1.2);
    transition: all 1s;
    border-radius: 5px;

}

.map {
    margin-top: 30px;
}

@media (max-width: 360px) {
    .titulo {
        font-size: 0.6em;
        color:rgb(85, 79, 79)
    }
    .contenido {
        font-size: 0.6em;
    }
    .img {
        margin-left: 0px;
    }
}

@media (min-width: 360px) and (max-width: 600px) {
    .titulo {
        font-size: 0.8em;
        color:rgb(49, 46, 46)
    }
    .contenido {
        font-size: 0.8em;
    }
    .img {
        margin-left: 10px;
    }
}
@media (min-width: 601px) and (max-width: 960px) {
    .titulo {
        font-size: 0.9em;
        color:rgb(59, 28, 28)
    }
    .contenido {
        font-size: 0.9em;
    }
}